<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= `${restaurant.name}` %></title>
</head>
<body>
    <%- include('./partials/nav') %>
  <h1>Welcome to <%= restaurant.name %></h1>
  <h2>Restaurant Details: </h2>
   <h2><%= restaurant.address %></h2>
   <h2>Phone number: <%= restaurant.phone %> </h2>
 
  
    
</body>
</html>